/* styles.css */

* {
    margin: 0;
    padding: 0;
}

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para o nome da marca na barra de navegação */
.navbar-brand {
    color: #007bff; /* Azul para o nome */
}

/* Estilo para os links de navegação */
.navbar-nav .nav-link {
    color: #000; /* Preto para os links */
}

/* Estilo para links ao passar o mouse na barra de navegação */
.navbar-nav .nav-link:hover {
    border-radius: 5px; /* Bordas arredondadas */
    border: 2px solid #007bff; /* Borda azul ao passar o mouse */
    color: #007bff; /* Mudar a cor do texto ao passar o mouse */
    background-color: #f8f9fa; /* Fundo claro ao passar o mouse */
}

/* Estilo para os títulos das seções fora dos cards */
.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

/* Container para organizar os cards lado a lado */
.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards se movam para a linha seguinte se não houver espaço suficiente */
    gap: 1rem; /* Espaçamento entre os cards */
    justify-content: center; /* Centraliza os cards horizontalmente */
}

/* Estilo para os cards */
.card {
    flex: 1 1 calc(50% - 1rem); /* Faz com que cada card ocupe aproximadamente metade da largura do contêiner, ajustando para o espaçamento */
    max-width: 500px; /* Define uma largura máxima para os cards */
    margin: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* Inclui o padding e border no cálculo da largura e altura */
}

/* Estilo para os links dentro dos cards */
.card-link {
    display: block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #007bff; /* Cor azul para os links */
    transition: all 0.3s ease;
}

/* Estilo para links ao passar o mouse dentro dos cards */
.card-link:hover {
    border-radius: 0.25rem;
    border: 2px solid #007bff; /* Borda azul ao passar o mouse */
    background-color: #e9ecef; /* Cor de fundo ao passar o mouse */
}
