/* Estilos globais */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* Estilo para a seção com fundo personalizado */
.bg-custom {
  background-color: #3A728E; /* Azul claro suave */
  width: 100vw;
  margin: 0;
  position: relative;
  height: 300px;
}

/* Remove margens das colunas */
.row {
  margin: 0;
}

/* Estilo para o carrossel */
.carousel {
  height: 200px;
  margin-top: 25px; /* Ajuste o valor conforme necessário */

}

.carousel-inner {
  height: 100%;
}

.carousel-inner img {
  height: 250px;
  width: auto;
  object-fit: cover;
}

/* Estilo para as colunas com layout flexível */
.col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo básico para o card */
.card {
  max-width: 250px;
  margin: 0 auto;
  padding-top: 1rem;
  text-align: center;
  background-color: #5C93AA; /* Laranja claro suave */
  color: #ffffff;
  border: 1px solid #B0BEC5; /* Cinza claro */
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Estilo para a imagem do card */
.card-img-top {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}

/* Estilo para um card personalizado */
.custom-card {
  max-width: 300px;
  width: 100%;
  max-height: 220px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  color: #424242;
  border: 1px solid #B0BEC5; /* Cinza claro */
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Atualiza o fundo e o estilo do botão no card personalizado */
.custom-card .card-link {
  background-color: #0C3756; /* Azul mais escuro */
  color: #FFFFFF;
  padding: 10px 10px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.custom-card .card-link:hover {
  background-color: #01579B; /* Azul muito escuro */
}

/* Estilos para a seção de perguntas frequentes */
.faq-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.title-h1-main {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
/* Contêiner principal */
.faq-container {
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
}

/* Título da seção */
.title-h1-main {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Grade de itens FAQ */
.faq-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  gap: 20px;
  align-items: start; /* Garante que cada item alinhe-se ao topo */
}

/* Estilo para cada item de FAQ */
.faq-item {
  background-color: #ffffff; /* Cor de fundo branca */
  border-radius: 8px; /* Arredonda os cantos */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
  display: flex;
  flex-direction: column; /* Garante que os itens se expandam de acordo com o conteúdo */
  overflow: hidden;
}

/* Estilo para a pergunta */
.faq-question {
  background-color: #1F5372; /* Azul intenso */
  color: white;
  padding: 15px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Estilo para o ícone da pergunta */
.faq-question i {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

/* Estilo para a resposta */
.faq-answer {
  background-color: white; /* Cor de fundo branca */
  display: none; /* Oculta a resposta */
  padding: 15px; /* Adiciona padding interno */
  font-size: 16px; /* Define o tamanho da fonte */
  color: #333; /* Cor do texto */
  flex-grow: 1; /* Permite que a resposta ocupe o espaço disponível */
}

/* Estilo para mostrar a resposta */
.faq-answer.show {
  display: block; /* Exibe a resposta */
}

/* Estilo para o ícone da pergunta quando ativa */
.faq-question.active i {
  transform: rotate(180deg); /* Rotaciona o ícone */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .faq-item {
    flex: 1 1 100%; /* Faz com que os itens ocupem toda a largura disponível */
    margin-bottom: 20px; /* Espaço entre os itens em telas pequenas */
  }

  .faq-question {
    font-size: 14px; /* Tamanho menor para melhor visualização em telas pequenas */
  }

  .faq-answer {
    font-size: 14px; /* Texto levemente menor em dispositivos móveis */
  }

  .keyboard {
    width: 14px;
    height: 8px;
  }
}

/* Estilo para um item destacado */
.highlight {
  border: 2px solid #0288D1; /* Azul mais escuro */
  background-color: #E3F2FD; /* Azul claro suave */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.keyboard {
  width: 18px;
  height: 10px;
}

.btn.btn-primary {
  background-color: #ffffff;
  color: #0C3756;
  border-radius: 20px;
}
