/* Definição de estilos gerais */
body {
  font-family: Arial, sans-serif; /* Define a fonte principal do documento */
}

* {
  margin: 0;
  padding: 0; /* Remove margens e preenchimentos de todos os elementos */
}

/* Estilos para espaço reservado de vídeo */
.video-placeholder {
  display: flex; /* Define um contêiner flexível para elementos de vídeo */
}

/* Estilos para cartões personalizados */
.card-custom {
  text-align: center; /* Centraliza o texto dentro do cartão */
  border: 2px solid #000; /* Define uma borda preta ao redor do cartão */
  border-radius: 10px; /* Aplica cantos arredondados ao cartão */
  padding: 15px; /* Adiciona espaçamento interno */
  margin: 10px; /* Adiciona espaçamento externo */
  transition: transform 0.2s; /* Adiciona uma transição suave para transformações */
}

.card-custom:hover {
  transform: scale(1.05); /* Aumenta ligeiramente o tamanho do cartão ao passar o mouse */
}

.card-custom h5 {
  font-weight: bold; /* Define o texto em negrito */
  color: #002b9f; /* Define a cor do texto como azul */
}

/* Estilos para diferentes títulos */
h6 {
  color: #002b9f; /* Define a cor do texto como azul */
}

h3 {
  color: #002b9f; /* Define a cor do texto como azul */
}

/* Estilos adicionais */
.agente {
  margin-left: 50px; /* Adiciona margem à esquerda */
  padding-bottom: 30px; /* Adiciona preenchimento inferior */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .faq-item {
    flex: 1 1 100%; /* Faz com que os itens ocupem toda a largura disponível */
  }

  .footer-container {
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza os itens */
    text-align: center; /* Alinha o texto ao centro */
  }

  .footer-social {
    justify-content: center; /* Centraliza os itens sociais */
    margin-top: 20px; /* Adiciona margem superior */
  }
}

.card-custom {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #5C93AA;
  color: #ffff;
}

.card-custom:hover {
  background-color: #e9e9e9;
  color: #000;
}

.content {
  display: none;
  margin-top: 10px;
}

/*tag relacionada a parte dos videos da página*/
iframe{
  border-radius: 15px;
  margin: 3rem 2rem auto;
}