/* styles.css */
*{
    margin: 0;
    padding: 0;
}
body{
  overflow-x: hidden;

}
.container-fluid {
  padding: 0; /* Remove o padding do container */
}

.bg-custom {
  background-color: #1B98E0;
  width: 100vw; /* Ocupa 100% da largura da viewport */
  margin: 0; /* Remove margens adicionais */
  position: relative; /* Garante que a largura seja a totalidade da tela */
}

.row {
  margin: 0; /* Remove margens horizontais */
}

  
  .carousel-inner img {
    object-fit: cover; /* Ajusta a imagem para cobrir o container sem distorcer */
    width: 400px;
    height: 400px;
  }

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-img-top {
    width: 100px;  /* Define a largura fixa da imagem */
    height: 100px; /* Define a altura fixa da imagem */
    margin: 0 auto; /* Centraliza a imagem dentro do card */
    display: block; /* Garante que a centralização funcione corretamente */
    object-fit: contain; /* Garante que a imagem se ajuste dentro do container sem distorções */
    border-radius: 50%; /* Torna a imagem redonda */
    
}

.card {
  max-width: 250px; /* Define a largura máxima do card */
  margin: 0 auto; /* Centraliza o card na coluna */
  text-align: center;
  background-color: #1C1B34;
  color:white;
  

}

/* Estilos para o card personalizado */
.custom-card {
  max-width: 300px; /* Define a largura máxima do card */
  width: 100%; /* Garante que o card ocupe toda a largura disponível até max-width */
  max-height: 220px; /* Define uma altura mínima para o card */
  margin: 0 auto; /* Centraliza o card */
  text-align: center;
  background-color: #1C1B34;
  color: white;
  border: 1px solid #fff; /* Adiciona uma borda branca */
  border-radius: 10px; /* Arredonda os cantos do card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao card */
}









/* ------------- */
/* Duvidas Frequetens */


.faq-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.title-h1-main {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.faq-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.faq-item {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.faq-question {
  background-color: #002b9f;
  color: white;
  padding: 15px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.faq-question i {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.faq-answer {
  background-color: white;
  display: none;
  padding: 15px;
  font-size: 16px;
  color: #333;
  flex-grow: 1;
  margin: 0;
}

.faq-answer.show {
  display: block;
}

.faq-question.active i {
  transform: rotate(180deg);
}



@media (max-width: 768px) {
  .faq-item {
      flex: 1 1 100%;
  }
}
.highlight {
  border: 2px solid #002b9f;
  background-color: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-direction: column;
}

/* ----------------------- */
/* Footer */
footer {
  background-color: #ffffff;
  padding: 20px 0;
}

.footer-container {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h2 {
  color: #002b9f;
  font-size: 24px;
}

.footer-section h3 {
  color: #002b9f;
  font-size: 18px;
}

.footer-section p, .footer-section ul, .footer-section li {
  margin: 5px 0;
  color: #333;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #333;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 95px;
  height: 100%;
}

.footer-social ul {
  list-style: none;
  display: flex;
}

.footer-social ul li {
  margin-left: 15px;
}

.footer-social ul li a img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .footer-social {
      justify-content: center;
      margin-top: 20px;
  }
}

