/*arquivo com os estilos do cabecalho e rodape*/


/*cabecalho/header*/

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para o nome da marca na barra de navegação */
.navbar-brand {
    color: #0C3756; /* Azul para o nome */
}

/* Estilo para os links de navegação */
.navbar-nav .nav-link {
    color: #000; /* Preto para os links */
}

/* Estilo para links ao passar o mouse na barra de navegação */
.navbar-nav .nav-link:hover {
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #007bff; /* Borda azul ao passar o mouse */
    color: #007bff; /* Mudar a cor do texto ao passar o mouse */
    background-color: #f8f9fa; /* Fundo claro ao passar o mouse */
}

/*rodape/footer*/

footer {
    background-color: #ffffff;
    padding: 20px 0;
}

.footer-container {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h2 {
    color: #002b9f;
    font-size: 24px;
}

.footer-section h3 {
    color: #002b9f;
    font-size: 18px;
}

.footer-section p, .footer-section ul, .footer-section li {
    margin: 5px 0;
    color: #333;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #333;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 95px;
    height: 100%;
}

.footer-social ul {
    list-style: none;
    display: flex;
}

.footer-social ul li {
    margin-left: 15px;
}

.footer-social ul li a img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-social {
        justify-content: center;
        margin-top: 20px;
    }
}